html,body {
  min-height: 100vh;
  display: flex;    
  flex-direction: column;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: #f3d6e5;
  background-color: #06596d;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../segoe-ui.ttf');
}

.navbar {
  display: block;
  text-align: center;
  background-color: #fbd6e9; /*Si la connexion n'est pas suffisante pour charger l'image*/
  background-image: url('../assets/img/Transflag.jpg');
  background-size: 75px;
  height: 51px;
  padding: 0px;
}

@media (max-width:640.5px) {
  .navbar {
    background-size: 150px;
    height: 102px;
  }
}

@media (max-width:346px) {
  .navbar {
    background-size: 225px;
    height: 153px;
  }
}

@media (max-width:222.5px) {
  .navbar {
    background-size: 300px;
    height: 204px;
  }
}

.buttonnavbar {
  display: inline;
  font-weight: 800;
  background-color: transparent;
  border-radius: 7px;
  border: 3px solid transparent;
  color: #1b1b1b;
  height: 36px;
  margin-top: 6.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  transition-duration: 0.5s;
}
.buttonnavbar:hover {
  background-color: #fbd6e9;
  color: #1b1b1b;
}

h1 {
  text-align: center;
  font-size: 5em;
  text-shadow: #1b1b1b 3px 2px 8px;
  word-wrap: break-word;
}

.texteavertissement {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-shadow: #1b1b1b 3px 2px 8px;
}

.underline{
  text-align: left;
  margin: auto;
  margin-left: 5%;
  font-size: 1.5em;
  color: #f3d6e5;
  text-shadow: #1b1b1b 1px 1px 1px;
  text-decoration: underline;
}

.divbuttonnextpage {
  text-align: end;
}

.buttonnextpage {
  width: auto;
  height: 40px;
  color: #f3d6e5;
  border: 0px;
  border-radius: 13px;
  background-color: #064959;
  margin: 15px;
  transition: 0.5s ease;
}
.buttonnextpage:hover {
  transition: 0.5s ease;
  background-color: #fbd6e9;
  color: #064959;
}

.divtitre {
  margin-top: auto;
  text-align: center;
}

.titre {
  margin-top: 1.5%;
  margin-left: 3.5%;
  font-size: 1.8em;
  width: auto;
  color: #f3d6e5;
  text-align: left;
  text-shadow: #1b1b1b 1px 1px 1px;
  text-decoration: underline;
}

.texteintro {
  margin: 1.5%;
  font-size: 1.6em;
  width: auto;
  color: #f3d6e5;
  text-shadow: #1b1b1b 2px 2px 3px;
  text-align: left;
}

.titreMent_leg{
  margin: 5%;
  margin-bottom: 2%;
  font-size: 38px;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: #1b1b1b 1px 1px 1px;
  overflow-wrap: break-word;
}

.texte{
  margin: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 1em;
  text-align: left;
  font-size: 1.4em;
  color: #f3d6e5;
  text-shadow: #1b1b1b 2px 2px 3px;
  overflow-wrap: break-word;
}

.textebienagir{
  margin: auto;
  margin-left:6%;
  margin-right:6%;
  font-size: 1.3em;
  text-align: left;
  color: #f3d6e5;
  text-shadow: #1b1b1b 2px 2px 3px;
}

sup{
  font-size: 0.6em;
}

.sup{
  margin: auto;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 1em;
  text-align: left;
  font-size: 1.1em;
  color: #f3d6e5;
  text-shadow: #1b1b1b 2px 2px 3px;
  overflow-wrap: break-word;
}

.inputnom{
  display:inline-block;
  width:47.5%;
  margin-right:2%;
  margin-top:5px;
}

.nom{
  display:inline-flex;
  border-radius: 10px;
  background-color: #064959 ;
  color: #f3d6e5 ;
  width:100%;
  height:35px;
  margin-bottom:1em;
  border: 0px;
  outline: none;
}

.inputprenom{
  display:inline-block;
  width:47.5%;
  margin-top:5px;
}

.prenom{
  display:inline-flex;
  border-radius: 10px;
  background-color: #064959 ;
  color: #f3d6e5 ;
  width:100%;
  height:35px;
  margin-bottom:1em;
  border: 0px;
  outline: none;
}

.inputmail{
  display:inline-block;
  width:55%;
  margin-right:2%;
  margin-top:5px;
}

.mail{
  display:inline-flex;
  border-radius: 10px;
  background-color: #064959 ;
  color: #f3d6e5 ;
  height:35px;
  width:100%;
  border: 0px;
  outline: none;
}

.selectraisons{
  display:inline-block;
  width:40%;
  margin-top:5px;
}

.raisons{
  display:inline-flex;
  border-radius: 10px;
  background-color: #064959 ;
  color: #f3d6e5 ;
  width:100%;
  height:35px;
  margin-bottom:1em;
  border: 0px;
  outline: none;
}

.description{
  margin:auto;
  text-align:start;
  color: #f3d6e5 ;
  width:50%;
}

.textarea{
  display:flex;
  margin:auto;
  border-radius: 10px;
  background-color: #064959 ;
  color: #f3d6e5 ;
  min-height: 50px;
  width:100%;
  height:100px;
  margin-bottom:1em;
  border: 0px;
  outline: none;
}

.buttonform{
  display:block;
  text-align:center;
  margin:auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #064959;
  border-radius: 10px;
  padding: 0.3em;
  border: 0px;
  color: #f3d6e5 ;
  transition: 0.5s ease;
}
.buttonform:active{
  background-color: #f3d6e5;
  color: #064959; 
  transition: 0.3s ease;
}

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: auto;
  height: 35px;
  background-color: #064959;
  color: #f3d6e5;
  font-size: 1em;
}
@media (max-width:278.5px) {
  .footer {
    height: 70px;
  }
}

.divfooter {
  margin: auto;
  text-align: center;
  word-wrap: break-word;
}

a {
  color: #f3d6e5;
}
a:visited {
  color: #f3d6e5;
}
a:hover {
  color: #af7d98;
}


/* Fonctionne sur Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f3d6e5 #064959;
}

/* Fonctionne sur Chrome, Edge, et Safari */
*::-webkit-scrollbar {
  background-color: #064959;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #f3d6e5;
}